@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img{
    width: 100vw;

}
a{
display: block;
text-align: center;
color: white;
padding: 20px;
font-weight: bold;
text-decoration: none;
background-color: darkred


}
a:hover{
    color: blue;
}